---
title:
  fr: Contact | Oscar Maybon - Web développeur freelance à Bordeaux
  en: Contact | Oscar Maybon - Freelance web developer in Bordeaux
---


<body class="hidden">

  <main>

    <div class="cd-index cd-main-content">

      <!-- Page Content -->
      <div id="page-content" data-bgcolor="#eee">

        <!-- Background Lines -->
        <div class="bg-lines hidden">
          <svg>
            <line x1="20%" y1="100%" x2="80%" y2="0"/>
            <line x1="80%" y1="100%" x2="20%" y2="0"/>
          </svg>
        </div>
        <!--/Background Lines -->



        <!-- Header -->
        <header class="scroll-hid">
          <div id="header-container">

            <!-- Logo -->
            <% if I18n.locale == :fr %>
              <div id="logo">
                <a href="http://www.mosdev.fr">
                  <img class="black-logo" src="/images/logo.png" alt="MosDev Logo">
                  <img class="white-logo" src="/images/logo-white.png" alt="MosDev Logo">
                </a>
              </div>
            <% else %>
              <div id="logo">
                <a href="http://www.mosdev.fr/en">
                  <img class="black-logo" src="/images/logo.png" alt="MosDev Logo">
                  <img class="white-logo" src="/images/logo-white.png" alt="MosDev Logo">
                </a>
              </div>
            <% end %>
            <!--/Logo -->

            <!-- Menu Burger -->
            <div id="burger-wrapper">
              <div id="burger-circle"></div>
              <div id="menu-burger">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--/Menu Burger -->

          </div>
        </header>
        <!--/Header -->


        <!-- Menu Overlay -->
        <div id="menu-overlay">

          <div id="close-menu"></div>

          <div class="outer">
            <div class="inner">

              <nav>
                <ul class="main-menu">

                  <% if I18n.locale == :fr %>
                    <li class="mp"> <%= link_to "Accueil", "http://www.mosdev.fr" %> </li>
                    <li class="mp"> <%= link_to "Portfolio", "http://www.mosdev.fr/portfolio" %> </li>
                    <li class="mp active"> <%= link_to "Contact", "http://www.mosdev.fr/contact" %> </li>
                    <li class="mp"> <%= link_to (image_tag "UK.png", height: 50), "/en/#{current_page.path.split('/').last}" %> </li>
                  <% else %>
                    <li class="mp active"> <%= link_to "Home", "http://www.mosdev.fr/en" %> </li>
                    <li class="mp"> <%= link_to "Portfolio", "http://www.mosdev.fr/en/portfolio" %> </li>
                    <li class="mp active"> <%= link_to "Contact", "http://www.mosdev.fr/en/contact" %> </li>
                    <li class="mp"> <%= link_to (image_tag "France.png", height: 50), "http://www.mosdev.fr/contact" %> </li>
                  <% end %>
                </ul>
              </nav>


            </div>
          </div>

        </div>
        <!-- Menu Overlay -->


        <!-- Main -->
        <div id="main">


          <!-- Hero Section -->
          <div id="hero">
            <div id="hero-styles" class="opacity-onscroll">
              <div id="hero-caption">
                <div class="inner">
                </div>
              </div>
            </div>
          </div>
          <div id="hero-height" class="hidden"></div>
          <!--/Hero Section -->


          <!-- Main Content -->
          <div id="main-content">
            <div id="main-page-content">


              <!-- Row -->
              <div class="vc_row row_padding_top row_padding_bottom">

                <div class="container">


                </div>

              </div>
              <!--/Row -->


              <!-- Row -->
              <div class="vc_row small text-align-center row_padding_top has-animation"  data-delay="100">

                <div class="container">

                  <h4><%= t("contact-title") %></h4>
                  <p><%= t("contact-text") %></p>


                  <!-- Contact Formular -->
                  <div id="contact-formular">

                    <div id="message"></div>

                    <form method="POST" action="https://formspree.io/contact@mosdev.fr">
                      <div class="name-box">
                        <input name="Prénom" type="text" id="surname" size="30"  onfocus="if(this.value == '<%= t('surname') %>') { this.value = ''; }" onblur="if(this.value == '') { this.value = '<%= t('surname') %>'; }" value="<%= t('surname') %>" ><label class="input_label"></label>
                      </div>
                      <div class="email-box">
                        <input name="Nom" type="text" id="name" size="30"  onfocus="if(this.value == '<%= t('name') %>') { this.value = ''; }" onblur="if(this.value == '') { this.value = '<%= t('name') %>'; }" value="<%= t('name') %>" ><label class="input_label"></label>
                      </div>
                      <div class="name-box">
                        <input name="Téléphone" type="text" id="phone" size="30"  onfocus="if(this.value == '<%= t('phone') %>') { this.value = ''; }" onblur="if(this.value == '') { this.value = '<%= t('phone') %>'; }" value="<%= t('phone') %>" ><label class="input_label"></label>
                      </div>
                      <div class="email-box">
                        <input name="Email" type="text" id="email" size="30" onfocus="if(this.value == 'Email') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Email'; }" value="Email" ><label class="input_label"></label>
                      </div>
                      <div class="message-box">
                        <textarea name="Message" cols="40" rows="4" id="comments" onfocus="if(this.value == 'Message') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Message'; }" >Message</textarea><label class="input_label slow"></label>
                      </div>
                      <div class="submit-box">
                        <input type="submit" class="send_message mosdev-button outline" id="submit" value= <%= t('submit') %> />
                      </div>
                    </form>

                  </div>
                  <!--/Contact Formular -->

                  <hr><hr>

                </div>

              </div>
              <!--/Row -->

              <!-- Row -->
              <div class="vc_row text-align-center row_padding_top row_padding_bottom small has-animation"  data-delay="0">

                <div class="container text-align-center">

                  <div class=" one_third">
                    <div class="mosdev-icon">
                      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    </div>

                    <h6><a href="#" class="link"><span>+33 6 31 09 75 80</span></a></h6>
                    <p><%= t('phone') %></p>
                  </div>

                  <div class=" one_third">
                    <div class="mosdev-icon">
                      <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    </div>

                    <h6><a href="https://www.google.fr/maps/place/Bordeaux/@44.8637065,-0.6561808,12z/data=!3m1!4b1!4m5!3m4!1s0xd5527e8f751ca81:0x796386037b397a89!8m2!3d44.837789!4d-0.57918" target="_blank" class="link"><span>Bordeaux</span></a></h6>
                    <p>France</p>
                  </div>

                  <div class="one_third last">
                    <div class="mosdev-icon">
                      <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                    </div>

                    <h6><a href="mailto:contact@mosdev.fr" class="link"><span>contact@mosdev.fr</span></a></h6>
                    <p>Email</p>
                    </div>

                </div>

              </div>
              <!--/Row -->

            </div>
            <!--/Main Page Content -->
          </div>
          <!--/Main Content -->
        </div>
        <!--/Main -->


        <!-- Footer -->
        <footer class="">
          <div id="footer-container">

                <ul class="socials-text">
                    <li><a href="https://www.linkedin.com/in/oscar-maybon-8425276a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Osque" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.dribbble.com/Osque" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                </ul>

                <p class="copyright">2018 © MosDev</p>

          </div>

        </footer>
        <!--/Footer -->


      </div>
      <!--/Page Content -->

    </div>
  </main>


  <div class="cd-cover-layer"></div>

</body>

