<body class="hidden">

  <main>

    <div class="cd-index cd-main-content">

      <!-- Page Content -->
      <div id="page-content" class="" data-bgcolor="#eee">

        <!-- Background Lines -->
        <div class="bg-lines hidden">
          <svg>
            <line x1="20%" y1="100%" x2="80%" y2="0"/>
            <line x1="80%" y1="100%" x2="20%" y2="0"/>
          </svg>
        </div>
        <!--/Background Lines -->



        <!-- Header -->
        <header class="scroll-hid">
          <div id="header-container">

            <!-- Logo -->
            <div id="logo">
                <a class="ajax-link" data-type="page-transition">
                    <img class="black-logo" src="/images/logo.png" alt="MosDev Logo">
                    <img class="white-logo" src="/images/logo-white.png" alt="MosDev Logo">
                </a>
            </div>
            <!--/Logo -->

            <!-- Menu Burger -->
            <div id="burger-wrapper">
              <div id="burger-circle"></div>
              <div id="menu-burger">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--/Menu Burger -->

          </div>
        </header>
        <!--/Header -->


        <!-- Menu Overlay -->
        <div id="menu-overlay">

          <div id="close-menu"></div>

          <div class="outer">
            <div class="inner">

              <nav>
                        <ul class="main-menu">

                          <% if I18n.locale == :fr %>
                            <li class="mp active"> <%= link_to "Home", "http://www.mosdev.fr/fr/home" %> </li>
                            <li class="mp"> <%= link_to "Portfolio", "http://www.mosdev.fr/fr/portfolio" %> </li>
                            <li class="mp"> <%= link_to "Contact", "http://www.mosdev.fr/fr/contact" %> </li>
                            <li> <%= link_to (image_tag "UK.png", height: 50), "/en/#{current_page.path.split('/').last}" %> </li>
                          <% else %>
                            <li class="mp active"> <%= link_to "Home", "http://www.mosdev.fr/en/home" %> </li>
                            <li class="mp"> <%= link_to "Portfolio", "http://www.mosdev.fr/en/portfolio" %> </li>
                            <li class="mp"> <%= link_to "Contact", "http://www.mosdev.fr/en/contact" %> </li>
                            <li> <%= link_to (image_tag "France.png", height: 50), "/fr/#{current_page.path.split('/').last}" %> </li>
                          <% end %>
                        </ul>
              </nav>


            </div>
          </div>

        </div>
        <!-- Menu Overlay -->


        <!-- Main -->
        <div id="main">


          <!-- Hero Section -->
          <div id="hero">
            <div id="hero-styles" class="opacity-onscroll">
              <div id="hero-caption">
                <div class="inner">
                </div>
              </div>
            </div>
          </div>
          <div id="hero-height" class="hidden"></div>
          <!--/Hero Section -->


          <!-- Main Content -->
          <div id="main-content">
            <div id="main-page-content">


              <!-- Row -->
              <div class="vc_row row_padding_top row_padding_bottom">

                <div class="container">


                </div>

              </div>
              <!--/Row -->


              <!-- Row -->
              <div class="vc_row small text-align-center row_padding_top has-animation"  data-delay="100">

                <div class="container">

                  <h4><%= t("contact-title") %></h4>
                  <p><%= t("contact-text") %></p>


                  <!-- Contact Formular -->
                  <div id="contact-formular">

                    <div id="message"></div>

                    <form method="post" action="contact.php" name="contactform" id="contactform">
                      <div class="name-box">
                        <input name="name" type="text" id="name" size="30"  onfocus="if(this.value == 'Full Name') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Full Name'; }" value="Full Name" ><label class="input_label"></label>
                      </div>
                      <div class="email-box">
                        <input name="email" type="text" id="email" size="30" onfocus="if(this.value == 'E-mail') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'E-mail'; }" value="E-mail" ><label class="input_label"></label>
                      </div>
                      <div class="message-box">
                        <textarea name="comments" cols="40" rows="4" id="comments" onfocus="if(this.value == 'Your Message') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Your Message'; }" >Your Message</textarea><label class="input_label slow"></label>
                      </div>
                      <div class="submit-box">
                        <input type="submit" class="send_message mosdev-button outline" id="submit" value="Submit" />
                      </div>
                    </form>

                  </div>
                  <!--/Contact Formular -->

                  <hr><hr>

                </div>

              </div>
              <!--/Row -->

              <!-- Row -->
              <div class="vc_row text-align-center row_padding_top row_padding_bottom small has-animation"  data-delay="0">

                <div class="container">

                  <div class="one_third">
                    <div class="mosdev-icon">
                      <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                    </div>

                    <h6><a href="mailto:contact@mosdev.fr" class="link"><span>contact@mosdev.fr</span></a></h6>
                    <p>Email</p>
                  </div>


                  <div class=" one_third last">
                    <div class="mosdev-icon">
                      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    </div>

                    <h6>+33 6 31 09 75 80</h6>
                    <p>Phone</p>
                  </div>

                </div>

              </div>
              <!--/Row -->

            </div>
            <!--/Main Page Content -->
          </div>
          <!--/Main Content -->
        </div>
        <!--/Main -->


        <!-- Footer -->
        <footer class="">
          <div id="footer-container">

                <ul class="socials-text">
                    <li><a href="https://www.linkedin.com/in/oscar-maybon-8425276a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Osque" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.dribbble.com/Osque" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                </ul>

                <p class="copyright">2018 © MosDev</p>

          </div>

        </footer>
        <!--/Footer -->


      </div>
      <!--/Page Content -->

    </div>
  </main>


  <div class="cd-cover-layer"></div>


  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/plugins.js"></script>
  <script src="javascripts/scripts.js"></script>



</body>

</html>
