<body class="hidden">

  <main>

  <div class="cd-index cd-main-content">

  <!-- Page Content -->
  <div id="page-content" data-bgcolor="#eee">

        <!-- Background Lines -->
        <div class="bg-lines hidden">
            <svg>
          <line x1="20%" y1="100%" x2="80%" y2="0"/>
        <line x1="80%" y1="100%" x2="20%" y2="0"/>
        </svg>
        </div>
        <!--/Background Lines -->



        <!-- Header -->
        <header class="scroll-hid">
            <div id="header-container">

            <!-- Logo -->
            <div id="logo">
              <img class="black-logo" src="/images/logo.png" alt="MosDev Logo">
              <img class="white-logo" src="/images/logo-white.png" alt="MosDev Logo">
            </div>
            <!--/Logo -->

            <!-- Menu Burger -->
            <div id="burger-wrapper">
              <div id="burger-circle"></div>
                <div id="menu-burger">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!--/Menu Burger -->

            </div>
        </header>
        <!--/Header -->


        <!-- Menu Overlay -->
        <div id="menu-overlay">

            <div id="close-menu"></div>

            <div class="outer">
                <div class="inner">

                    <nav>
                        <ul class="main-menu">

                          <% if I18n.locale == :fr %>
                            <li class="mp active"> <%= link_to "Accueil", "http://www.mosdev.fr" %> </li>
                            <li class="mp"> <%= link_to "Portfolio", "http://www.mosdev.fr/portfolio" %> </li>
                            <li class="mp"> <%= link_to "Contact", "http://www.mosdev.fr/contact" %> </li>
                            <li class="mp"> <%= link_to (image_tag "UK.png", height: 50), "/en/#{current_page.path.split('/').last}" %> </li>
                          <% else %>
                            <li class="mp active"> <%= link_to "Home", "http://www.mosdev.fr/en" %> </li>
                            <li class="mp"> <%= link_to "Portfolio", "http://www.mosdev.fr/en/portfolio" %> </li>
                            <li class="mp"> <%= link_to "Contact", "http://www.mosdev.fr/en/contact" %> </li>
                            <li class="mp"> <%= link_to (image_tag "France.png", height: 50), "http://www.mosdev.fr" %> </li>
                          <% end %>
                        </ul>
                    </nav>


                </div>
            </div>

        </div>
        <!-- Menu Overlay -->


        <!-- Main -->
        <div id="main">


            <!-- Hero Section -->
            <div id="hero" class="has-image">
                <div id="hero-styles" class="opacity-onscroll parallax-onscroll">
                    <div id="hero-caption">
                        <div class="inner">
                            <img src="images/moi.jpg" class="avatar-picture">
                            <hr>
                            <h1 class="hero-title">Oscar Maybon</h1>
                            <br>
                            <h5 class="hero-subtitle"> <%= t("presentation") %></h5>

                        </div>
                    </div>
                    <div class="scroll-down-wrap no-border">
                        <a href="#" class="section-down-arrow ">
              <svg class="nectar-scroll-icon" viewBox="0 0 30 45" enable-background="new 0 0 30 45">
                <path class="nectar-scroll-icon-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M15,1.118c12.352,0,13.967,12.88,13.967,12.88v18.76  c0,0-1.514,11.204-13.967,11.204S0.931,32.966,0.931,32.966V14.05C0.931,14.05,2.648,1.118,15,1.118z">
                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div id="hero-bg-wrapper">
        <div id="hero-bg-image" class="light-content has-video" style="background-image:url(/images/about.jpg)"></div>
            </div>
            <div id="hero-height" class="hidden"></div>


            <!--/Hero Section -->


             <!-- Main Content -->
            <div id="main-content">
              <div id="main-page-content" data-bgcolor="red">




                  <!-- Row -->
                    <div class="vc_row small row_padding_top  text-align-center">
                        <div class="container">
                            <hr><hr><hr><hr><hr><hr><hr>
                            <hr><hr><hr><hr><hr><hr><hr>
                            <hr><hr><hr><hr><hr><hr><hr>

                            <h3 class="has-animation" data-delay="10"><%= t("tpres") %></h3>
                            <hr>
                            <h5 class="has-animation" data-delay="10"><%= t("ppres") %> </h5>

                            <hr><hr><hr>

                    <!-- Row -->
                    <div class="vc_row row_padding_top row_padding_bottom text-align-center">

                        <div class="container">


                            <div class="one_half has-animation" data-delay="150">
                                <div class="mosdev-icon">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    <h6> <%= t('concept') %> </h6>
                                    <p><%= t('concept-desc') %> </p>
                                </div>
                            </div>

                            <div class="one_half last has-animation" data-delay="200">
                                <div class="mosdev-icon">
                                    <i class="fa fa-code" aria-hidden="true"></i>
                                    <h6> <%= t('front') %> </h6>
                                    <p> <%= t('front-desc') %> </p>
                                </div>
                            </div>

                            <div class="one_half has-animation" data-delay="200">
                                <div class="mosdev-icon">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                    <h6> <%= t('back') %> </h6>
                                    <p> <%= t('back-desc') %> </p>
                                </div>
                            </div>

                            <div class="one_half last has-animation" data-delay="150">
                                <div class="mosdev-icon">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    <h6> <%= t('host') %> </h6>
                                    <p> <%= t('host-desc') %> </p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--/Row -->

                            <h4 class="has-animation" data-delay="10"> <%= t('techno') %> :</h4>

                            <hr><hr>

                        </div>
                    </div>
                    <!--/Row -->



                    <!-- Row -->
                        <div class="vc_row row_padding_bottom text-align-center">
                            <div class="container">

                                <!-- Clients Table -->
                                <ul class="clients-table has-animation" data-delay="10">
                                    <li><img src="/images/rails.png"></li>
                                    <li><img src="/images/html.png" width="100%"></li>
                                    <li><img src="/images/jquery.png"></li>
                                    <li><img src="/images/css.png"></li>
                                    <li><img src="/images/github.png"></li>
                                    <li><img src="/images/ruby.png" width="100%"></li>
                                    <li><img src="/images/js.png" ></li>
                                    <li><img src="/images/heroku.png"></li>
                                </ul>
                                <!--/Clients Table -->

                        </div>
                    </div>
                    <!--/Row -->

                    <hr><hr>

                    <!-- Row -->
                    <div class="vc_row small row_padding_top row_padding_bottom text-align-center">

                        <div class="container">

                            <h4 class="has-animation" data-delay="10"> <%= t('contact-desc') %> </h4>

                            <hr>

                          <% if I18n.locale == :fr %>
                            <%= link_to "Contactez-moi", "http://www.mosdev.fr/contact", class: "mosdev-button rounded outline ajax-link has-animation animate-in" %>
                          <% else %>
                            <a ></a> <%= link_to "Contact me", "http://www.mosdev.fr/en/contact", class: "mosdev-button rounded outline ajax-link has-animation animate-in" %>
                          <% end %>
                        </div>

                    </div>
                    <!--/Row -->


              </div>
                <!--/Main Page Content -->
            </div>
            <!--/Main Content -->
        </div>
        <!--/Main -->


        <!-- Footer -->
        <footer class="">


                <div id="page-action-holder-right" data-tooltip="<%= t('gotop') %>" data-placement="top">
                    <div id="scrolltotop">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="10px" y="10px" width="40px" height="40px" viewBox="0 0 80 80" xml:space="preserve">
                            <circle class="circle-action is-inner" cx="40" cy="40" r="36" />
                            <circle class="circle-action is-outer" cx="40" cy="40" r="36" />
                        </svg>
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                        <div class="circle-line"></div>
                    </div>
                </div>

                <ul class="socials-text">
                    <li><a href="https://www.linkedin.com/in/oscar-maybon-8425276a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Osque" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.dribbble.com/Osque" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                </ul>

                <p class="copyright">2018 © MosDev</p>


          </div>

        </footer>
        <!--/Footer -->


  </div>
  <!--/Page Content -->

    </div>
</main>


    <div class="cd-cover-layer"></div>

</body>
